---

import { Picture } from "astro:assets";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";

---

<Layout title="About">
  <Container>
    <Sectionhead>
      <Fragment slot="title">About</Fragment>
      <Fragment slot="desc">Dr Sapna Deb is an Ophthalmologist and a creative writer. 
        Her passion for writing started at a young age and after establishing a career as a Doctor, she resumed her writing. 
        She did her Diploma in creative writing from Indira Gandhi National Open University, India and Advanced Writing lives from Oxford University in the online mode, both of which she passed with flying colours.

      </Fragment>
    </Sectionhead>


    <div class="flex grid md:grid-cols-1 gap-10 mx-auto max-w-l mt-12 justify-center">
      <div class="group">
        <div class="flex w-full flex justify-center items-center">
          <Picture
            src={`https://m.media-amazon.com/images/S/amzn-author-media-prod/dnn1t4jhr5belad2dfcg0o9ir3._SY450_CR0%2C0%2C450%2C450_.jpg`}
            alt={`https://m.media-amazon.com/images/S/amzn-author-media-prod/dnn1t4jhr5belad2dfcg0o9ir3._SY450_CR0%2C0%2C450%2C450_.jpg`}
            sizes="(max-width: 800px) 100vw, 400px"
            width={200}
            height={200}
            class="w-48 h-48 rounded-md transition group-hover:-translate-y-1 group-hover:shadow-xl bg-white object-cover object-center"
          />
        </div>
      </div>
    </div>
    
    
  </Container>
</Layout>
