---
import Card from "../components/Card.astro";
import Welcome from "../components/Welcome.astro";

import { getPosts } from "../utils/sanity";
import Hero from "@components/hero.astro";
import Logos from "@components/logos.astro";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Cta from "@components/cta.astro";

const posts = await getPosts();
---
<!-- 
<Layout title="Welcome to Astro.">
  <section>
    {posts.length ? posts.map((post) => <Card post={post} />) : <Welcome />}
  </section>
</Layout> -->


<Layout title="">
  <Container>
    <Hero />
    <Logos />
    <Cta />
  </Container>
</Layout>

