---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import BookCard from "@components/bookcard.astro"; // Assuming you create this component

const books = [
  {
    title: "How To Boost Self Esteem",
    description:"Conquer Self Doubt, Become Assertive, Inculcate Self Love and Shine With Unprecedented Confidence",
    photo: "src/assets/Book.png",
    summary: "Personal Growth Series Book 1",
    url: "https://www.amazon.com/gp/product/B0CSBNY3CR?storeType=ebooks&qid=1717829068&sr=8-1",
  },
  {
    title: "How to transform Negative Emotions",
    description: "Stop Overthinking, Embrace Awareness, Harness Empathy and Achieve Mental and Emotional Well-Being",
    photo: "src/assets/Book2.jpg",
    summary: "Personal Growth Series Book 2",
    url: "https://www.amazon.com/gp/product/B0D42T129Z?storeType=ebooks&qid=1717829068&sr=8-1",
  },
  {
    title: "How to Create Positive Emotions",
    description: "Eliminate Negative Thinking, Banish Stress, Boost Emotional Intelligence and Unveil Your Full Potential",
    photo: "src/assets/Book3.jpg",
    summary: "Personal Growth Series Book 3",
    url: "https://www.amazon.com/gp/product/B0D262BVMZ?storeType=ebooks&qid=1717829068&sr=8-1",
  },
];
---

<Layout title="Books">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Books</Fragment>
      <Fragment slot="desc">
        Personal Growth Series
      </Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-screen-lg mt-12">
      {books.map((item) => (
        <a href={item.url} class="block">
          <BookCard book={item} />
        </a>
      ))}
    </div>
  </Container>
</Layout>