---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import BookCard from "@components/bookcard.astro"; // Assuming you create this component

const books = [
  {
    title: "How To Boost Self Esteem",
    description:"Conquer Self Doubt, Become Assertive, Inculcate Self Love and Shine With Unprecedented Confidence",
    photo: "src/assets/Book.png",
    summary: "Personal Growth Series Book 1",
    url: "https://www.amazon.com/gp/product/B0CSBNY3CR?storeType=ebooks&qid=1717829068&sr=8-1",
  },
  {
    title: "How to transform Negative Emotions",
    description: "Stop Overthinking, Embrace Awareness, Harness Empathy and Achieve Mental and Emotional Well-Being",
    photo: "src/assets/Book2.jpg",
    summary: "Personal Growth Series Book 2",
    url: "https://www.amazon.com/gp/product/B0D42T129Z?storeType=ebooks&qid=1717829068&sr=8-1",
  },
  {
    title: "How to Create Positive Emotions",
    description: "Eliminate Negative Thinking, Banish Stress, Boost Emotional Intelligence and Unveil Your Full Potential",
    photo: "src/assets/Book3.jpg",
    summary: "Personal Growth Series Book 3",
    url: "https://www.amazon.com/gp/product/B0D262BVMZ?storeType=ebooks&qid=1717829068&sr=8-1",
  },
  {
    title: "Roses and Thorns along the way",
    description: "It is said that TRUTH IS STRANGER THAN FICTION. This book of stories and the others following this will prove it without doubt.",
    photo: "src/assets/rat.jpg",
    
    url: "https://www.amazon.com/ROSES-THORNS-ALONG-WAY-COLLECTION-ebook/dp/B0CJJKW1LM?dib=eyJ2IjoiMSJ9.0N8IkP_gji-53SQYbpEHhWpggiBAI6nncVC29-JGT4GFxxE1VRKsQvEdWNq-V4vJxt3-kZnDqfGZ22VibeZr8rbBkybBHlPKmkrVEcjb6uuyy834zs-8F0GHuiYSmvt3.s8RSgmYfYIRiXlCEn__h_PZ2BP8w_puY2RyjEbvcbqg&dib_tag=AUTHOR",
  },
  {
    title: "Celebrating Yoga Day: Uniting Cultures by Transforming Lives",
    description: "Embark on a transformative journey through the timeless practice of yoga with Celebrating Yoga Day. This enlightening book explores the rich history and profound philosophy of yoga, while seamlessly connecting it to the fast-paced, technology-driven world of today.",
    photo: "src/assets/yoga.jpg",
    url: "https://www.amazon.com/CELEBRATING-YOGA-DAY-CULTURES-TRANSFORMING-ebook/dp/B0D7HFBVCC/?content-id=amzn1.sym.f911c8db-3a2b-4b3e-952f-b80fdcee83f4",
  },
  {
    title: "And They Survived",
    description: "Stories of love, courage, intrigue and the ultimate triumph of the human spirit",
    photo: "src/assets/ats.jpg",
    
    url: "https://www.amazon.com/They-Survived-Stories-intrigue-ultimate-ebook/dp/B0CW1N659P/?content-id=amzn1.sym.f911c8db-3a2b-4b3e-952f-b80fdcee83f4",
  },
];
---

<Layout title="Books">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Books</Fragment>
      <Fragment slot="desc">
        Personal Growth Series
      </Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-screen-lg mt-12">
      {books.map((item) => (
        <a href={item.url} class="block">
          <BookCard book={item} />
        </a>
      ))}
    </div>
  </Container>
</Layout>