---
// @ts-ignore
import { Icon } from "astro-icon";
---

<div class="mt-5">
  <h2 class="text-center text-slate-500">Find out more</h2>
  <div class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap">
    <a href="https://www.linkedin.com/in/dr-sapna-deb-0412452a/" target="_blank">
      <Icon class="h-8 md:h-12" name="simple-icons:linkedin" />
    </a>
    <a href="https://www.facebook.com" target="_blank">
      <Icon class="h-8 md:h-12" name="simple-icons:facebook" />
    </a>
    <a href="https://www.twitter.com" target="_blank">
      <Icon class="h-8 md:h-14" name="simple-icons:twitter" />
    </a>
    <a href="https://medium.com/@drsapnadeb" target="_blank">
      <Icon class="h-8 md:h-16" name="simple-icons:medium" />
    </a>
    <!-- <a href="https://www.instagram.com" target="_blank">
      <Icon class="h-8 md:h-12" name="simple-icons:instagram" />
    </a> -->
  </div>
</div>
